*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: sans-serif;

    --main-color: #54428E;
    --main-color-light: #8963BA;
    --secondary-color: #688B58; 
    --secondary-color-light: #90C290;
    --secondary-color-lightest: #AFE3C0;

    --text-color: black;
}

html{
    min-width: 300px;
    overflow: auto;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    min-width: 300px;
    overflow: hidden;
}

header{
    background-color: #0B0500;

    color: white;
    font-size: clamp(40px, 6vw, 80px);
    width: max(300px, 100vw);
    min-width: 300px;
    padding: 10px 20px;

    display: flex;
    align-items: center;
    min-width: 100px;
}

#header{
    width: 100vw;
    height: fit-content;
}


#new-book{
    background-color: var(--main-color-light);
    border: none;
    border-radius: 10px;
    box-shadow: var(--main-color) 3px 3px 1px 2px; 

    color: invert(var(--text-color));
    padding: max(10px, 0.7vw) max(15px, 2vw);
    font-size: clamp(15px, 2vw, 30px);
    margin-left: auto;
    margin-right: 50px;

}

#new-book:hover{
    opacity: 0.9;
    cursor: pointer;
}

#new-book:active{
    position: relative;
    left: 2px;
    top: 2px;
    box-shadow: var(--main-color) 1px 1px 1px 2px;
}

footer{
    margin-top: auto;
    height: 7vh;
    background-color: var(--main-color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    min-width: 300px;
}

#center-content{
    flex-grow: 1;

    display: grid;
    grid-template-columns: repeat(auto-fill, max(300px, min(40vw, 600px)));
    grid-auto-rows: minmax(100px, 300px);
    gap: 10px;
    padding: 20px;
}


.book{
    background-color: rgb(196, 196, 196);
    border-radius: 10px;
    box-shadow: rgb(214, 214, 214) 3px 3px 5px 1px;
}

